<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Azevedo Lablet</span></h5>
        <img src="{{site.baseurl}}/assets/images/1240_subset.png">
    </div>
    <div class="sidebar-section">
        <h5><span>Tuthill Lab</span></h5>
        <img src="{{site.baseurl}}/assets/images/fanc_premotor_cropped.png">
    </div>
</div>

{% comment  %}
<div class="sidebar-section">
    <h5><span>Newsletter</span></h5>
    {% include newsletter.html %}
{% endcomment  %}